aiodns==3.0.0
aiogram==2.23.1
aiohttp==3.8.3
aiosignal==1.3.1
aiosqlite==0.20.0
async-timeout==4.0.2
attrs==22.1.0
Babel==2.9.1
Brotli==1.0.9
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
dnspython==2.2.1
frozenlist==1.3.3
idna==3.4
magic-filter==1.0.9
motor==3.1.1
multidict==6.0.2
nest-asyncio==1.6.0
opentele==1.15.1
pyaes==1.6.1
pyasn1==0.6.0
pycares==4.2.2
pycparser==2.21
pydantic==1.10.2
pymongo==4.3.3
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
Pyrogram==2.0.106
PySocks==1.7.1
pytz==2022.6
rsa==4.9
stream-sqlite==0.0.38
Telethon==1.34.0
TgCrypto==1.2.3
typing_extensions==4.4.0
yarl==1.8.1
